<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170198156444-htoor15o3a6ers7e9c9ubhinfcrjge5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170198156444-htoor15o3a6ers7e9c9ubhinfcrjge5j</string>
	<key>API_KEY</key>
	<string>AIzaSyD4HMjsnD7cdUp6bGhz9V56gYbltqmUHXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>170198156444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interfacesFedorovCourseworkNao</string>
	<key>PROJECT_ID</key>
	<string>sauce-nao-ver0</string>
	<key>STORAGE_BUCKET</key>
	<string>sauce-nao-ver0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170198156444:ios:46be89ef6d9a27d6acd959</string>
</dict>
</plist>